@import '../utilities//variables';

.manufacturer_item {
  $color: var(--secondary);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--secondary);
  border-radius: 0.5em;
  overflow: hidden;
  gap: 0.75em;

  img {
    padding: 0.2em;
    flex-grow: 1;
    height: 100%;
    height: 7em;
    object-fit: contain;
  }

  a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    color: var(--text);
    background-color: var(--secondary);
    transition: 0.5s ease-in;
  }

  a:hover {
    text-decoration: underline;
  }
}

.show_makers {
  display: grid;
  padding: 0.4em;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  align-items: start;
  gap: 0.5em 1em;
  color: var(--text);

  h1 {
    grid-column: 1 / -1;
    padding: 1em 0;
  }
}

/** CREATE MANUFACTURER **/
.create_manufacturer {
  > div {
    max-width: 40em;
    border-radius: 0.5em;
    padding: 1em;
    width: 100%;
    margin: 2em auto;
    background-color: var(--secondary);
    color: var(--text);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

    form {
      margin-top: 0.5em;
      display: grid;
      gap: 1em;
      grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));

      ::placeholder {
        color: var(--text);
        opacity: 0.8;
      }

      .field {
        display: grid;
        align-items: center;
        gap: 0.3em;

        > div {
          position: relative;
          display: grid;

          i {
            position: absolute;
            background-color: var(--primary);
            height: 100%;
            width: 2em;
            aspect-ratio: 1 / 1;
            font-size: 1.3em;
            color: #fff;
            display: grid;
            place-items: center;
          }

          input {
            padding: 0.6em 3.5em;
            background-color: var(--background);
          }
        }
      }

      #description_container {
        display: grid;
        gap: 0.3em;
        grid-column: 1 / -1;

        textarea {
          padding: 1em;
          background-color: var(--background);
        }
      }

      input[type='submit'] {
        padding: 1.2em;
        border: none;
        border-radius: 0.4em;
        background-color: var(--primary);
      }
    }
  }
}

/** SHOW MANUFACTURER **/
#manufacturer {
  padding: 0.5em;
  > h3 {
    margin: 0.6em 0;
  }

  > img {
    width: 100%;
    display: block;
    max-width: 15em;
  }
  #cars_container {
    #other_manufacturers {
      text-decoration: none;
      color: var(--text);
      font-weight: 600;
      transition: 0.5s ease-in-out;
    }

    #other_manufacturers:hover {
      text-decoration: underline;
      background-color: var(--primary);
      padding: 0.5em;
      white-space: nowrap;
      border-radius: 0.5em;
    }
  }

  #cars_container.empty {
    display: grid;
    place-content: center;
    text-align: center;
    gap: 0.6em;
    padding: 2em 0;
    background-color: var(--accent-four);
  }

  #cars_container.not_empty {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 15em));
    gap: 0.5em 2em;
  }
}
