<% content_for :dashboard_content do %>
  <div id="content">
    <div id="settings">
      <div id="settings_menu">
        <%= link_to(edit_user_registration_path, class: "setting #{is_active?(edit_user_registration_path)}") do %>
          <i class="fa-solid fa-user-gear"></i>
          <p>Account</p>
        <% end %>
        <%= link_to(user_settings_update_password_path, class: "setting #{is_active?(user_settings_update_password_path
)}") do %>
          <i class="fa-solid fa-lock"></i>
          <p>Password</p>
        <% end %>
      </div>
      <%= yield :settings_content %>
    </div>
  </div>
<% end %>
<%= render template: 'layouts/dashboard' %>
