<section id="about_us">
  <h1>About Us</h1>
  <hr>
  <p>Gran Sonrisa Motors: Redefining car shopping with innovation and smiles since 2022. Your journey to a greener, more enjoyable drive starts here.
  </p>
  <h4>Who We Are</h4>
  <p>
    Established in 2022, Gran Sonrisa Motors is a forward-thinking car dealership founded by Maria Hernandez and a team of enthusiasts. With a sleek showroom and a focus on customer satisfaction, we've redefined the car-buying experience. Our online platform allows you to explore our diverse inventory, schedule test drives, and complete transactions from the comfort of your home.
  </p>
  <p>
    Committed to sustainability, we offer a range of vehicles from fuel-efficient compacts to cutting-edge electric models. Our tech-savvy approach and community engagement set us apart. Join us on the road to a greener, more enjoyable driving experience. Welcome to Gran Sonrisa Motors – where innovation meets smiles.
  </p>
  <div id="images">
    <%= image_tag 'gas-station.jpg', alt: "Gas Station" %>
    <%= image_tag 'convertible.jpg', alt: "Convertible" %>
    <%= image_tag 'silver-sedan.jpg', alt: "Silver Sedan" %>
    <%= image_tag 'front.jpg', alt: "Front" %>
  </div>
</section>
