<div class="order">
  <div class="image">
    <img src="#" alt="ORDER" />
  </div>
  <hr>
  <div class='details'>
    <p>
      <i class="fa-solid fa-industry"></i>
      <span>Toyota</span>
    </p>
    <p>
      <ion-icon name="car"></ion-icon>
      <span>Camry 2020</span>
    </p>
    <p>
      <ion-icon name="pricetags"></ion-icon>
      <span>&#8358; <%= number_with_delimiter(20000000) %></span>
    </p>
    <p>
      <ion-icon name="color-palette"></ion-icon>
      <span>Green</span>
    </p>
  </div>
</div>
