<div id='callback'>
  <div>
    <%= image_tag 'loader.svg', alt: "Loading", id: 'callback_loading' %>
    <h1>Transaction Processing</h1>
    <small>Transaction in progress. Please wait while it is being processed. <br />
       We'll notify you once it's completed.</small>
  </div>
</div>
