<div id="order_failed">
  <div>
    <%= image_tag 'multiply.png', alt: "Failed" %>
    <h4>Your Transaction has been declined.</h4>
    <small>We regret to inform you that your purchase attempt was unsuccessful. If you have any concerns or would like assistance, please contact our support team. We appreciate your understanding.
    </small>
    <%= link_to 'View Your Orders', orders_path %>
  </div>
</div>
