<div id="order_success">
  <div>
    <%= image_tag 'mark.png', alt: "Success" %>
    <h4>Thank you for your purchase.</h4>
    <small>Congratulations on your successful purchase! Thank you for choosing us—we're thrilled to have you as our valued customer. Enjoy your new Car.
    </small>
    <%= link_to 'View Your Orders', orders_path %>
  </div>
</div>
