<p>Hello <%= @order.user.first_name %> </p>
<p>I hope this message finds you well. On behalf of the entire team at Gran Sonrisa, I want to extend our heartfelt gratitude for choosing us for your recent car purchase. It has been our pleasure to assist you in finding the perfect vehicle, and we are thrilled to welcome you to our family of satisfied customers.
</p>
<p>We understand that purchasing a car is a significant decision, and we are honored that you trusted us throughout this process. Our team is dedicated to providing a seamless and enjoyable experience, and we are delighted to hear that we've met your expectations.
</p>
<p>Your new <%= @order.car.manufacurer.name%> <%= @order.car.model %> is ready for you, and our service team has ensured that it's in pristine condition. If you have any questions or need further assistance, please don't hesitate to reach out. We are committed to providing excellent ongoing support to ensure your continued satisfaction.
</p>
<p>Once again, thank you for choosing <b>Gran Sonrisa</b>. We genuinely appreciate your business and look forward to serving you for years to come. Safe travels and happy driving!
</p>
<br>
<p>Best Regards</p>
<p>Solly from Gran Sonrisa</p>
