@import '../utilities/variables';
@import '../utilities/global';

.login_page {
  min-height: 85vh;
  min-height: 85dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > div {
    width: 100%;
    max-width: 25em;
    background: var(--secondary);
    box-shadow: 1em 2em 3em var(--accent-four);
    border-radius: 1em;
    padding: 1em;
  }

  a {
    width: fit-content;
    display: block;
    text-decoration: none;
    color: var(--text);
    transition: 0.4s ease;
    padding-top: 0.3em;
  }

  a:hover {
    color: var(--highlight);
  }

  hr {
    border-top: 1px solid var(--text);
    margin-top: 0.5em;
  }

  // Form
  form {
    display: grid;
    width: 100%;
    text-align: left;
    gap: 0.3em;
    margin: 0.3em 0;

    // Field Input
    .field:not(:has([type='checkbox'])) {
      gap: 0.5em;
      display: grid;

      input {
        border: 1px solid var(--accent-four);
        padding: 1em;
        border-radius: 0.6em;
      }
    }

    .field:has([type='checkbox']) {
      margin-top: 1em;
    }

    // Submit Button
    input[type='submit'] {
      width: 100%;
      padding: 1em;
      border: none;
      border-radius: 0.6em;
      margin-top: 1rem;
      background-color: var(--primary);
      color: var(--secondary);
      transition: 0.4s ease;
    }

    input[type='submit']:hover {
      transition: 0.4s ease;
      border: 1px solid var(--secondary);
    }

    .flash {
      color: var(--accent-one);
      text-align: center;
      font-weight: 600;
      padding: 0.5em 2em;
      border-radius: 0.5em;
      right: 1em;
      top: 5em;
      z-index: 50;
    }
  }

  .other_links {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}
