@import '../utilities/variables';
@import '../utilities/global';

.login_page {
  min-height: 85vh;
  min-height: 85dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text);

  > div {
    width: 100%;
    padding: 1em;
    max-width: 30em;
    background-color: var(--secondary);
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

    hr {
      margin-top: 1em;
      border: 1px solid var(--primary);
    }

    form {
      display: grid;
      gap: 1.2em;
      padding: 2em 0;
      padding-bottom: 1em;

      .flash {
        text-align: center;
        font-weight: 600;
        color: var(--accent-one);
      }

      .field {
        display: grid;
        position: relative;

        i {
          position: absolute;
          font-size: 1.2em;
          top: 50%;
          left: 0.5em;
          transform: translateY(-50%);
          color: var(--primary);
        }

        input {
          padding: 1em 2.5em;
          padding-right: 1em;
          outline: none;
          border: none;
          border-radius: 0.5em;
        }

        input:focus {
          outline: 0.5px solid var(--primary);
        }
      }

      .actions {
        input {
          padding: 0.75em 2em;
          border-radius: 0.4em;
          letter-spacing: 2px;
          background-color: var(--primary);
          color: invert(#000000);
          border: none;
          outline: none;
        }
      }
    }

    .other_links {
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding-top: 1.3em;

      a {
        width: -moz-fit-content;
        width: fit-content;
        text-decoration: none;
        color: var(--text);
        transition: 0.5s ease;
      }

      a:hover {
        font-weight: 600;
        transition: 0.5s ease;
      }
    }
  }
}
