@import '../utilities/variables';
@import '../utilities/global';

.register_page {
  height: 100%;
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > div {
    display: flex;
    flex-direction: column;
    border-radius: 1.5em;
    padding: 1em;
    width: 100%;
    max-width: 30em;
    background: var(--secondary);
    box-shadow: 1em 2em 3em var(--accent-four);
  }

  hr {
    border-top: 1px solid var(--text);
    margin: 0.5em 0;
  }

  a {
    width: fit-content;
    display: block;
    flex-grow: 0;
    text-decoration: none;
    color: var(--text);
    margin-bottom: 0.3em;
    transition: 0.4s ease;
  }

  a:hover {
    color: var(--highlight);
  }

  // Form
  form {
    text-align: left;
    gap: 1em 1.5em;
    margin: 0.2em 0;

    .field {
      display: grid;
      gap: 0.4em;
      margin-top: 0.75em;

      input {
        padding: 1em;
        border-radius: 0.6em;
        border: 1px solid var(--accent-four);
      }
    }

    .field_with_errors {
      display: grid;
    }

    .form_errors {
      margin-left: 0.3em;
      color: var(--accent-one);
      list-style-type: none;
      font-size: 0.7em;
      font-weight: 600;
    }

    .actions {
      grid-column: 1 / 1;
    }

    input[type='submit'] {
      width: 100%;
      padding: 1em;
      border: none;
      border-radius: 0.6em;
      margin-top: 1rem;
      background-color: var(--primary);
      color: var(--text);
      transition: 0.4s ease;
    }

    input[type='submit']:hover {
      transition: 0.4s ease;
      border: 1px solid var(--secondary);
    }
  }
}
