@import './utilities/variables';
@import './utilities/global';

.app {
  position: relative;
  background-color: var(--background);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.main_navigation {
  position: sticky;
  top: 0;
  background-color: var(--primary);
  border-bottom: 1px solid var(--text);
  display: flex;
  padding-right: 2em;
  align-items: center;
  justify-content: space-between;
  z-index: 20;

  :is(button, a) {
    background-color: var(--primary);
    border: none;
    text-decoration: none;
    color: var(--text);
    font-weight: 600;
    transition: 0.4s ease;
  }

  :is(button, a):hover {
    color: var(--highlight);
    transition: 0.4s ease;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5em;

    img {
      width: 4em;
    }
  }

  .main_links {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 2em;
      clip-path: circle(50%);
      background-size: cover;
    }

    #user_logo {
      text-decoration: none;
      display: grid;
      place-items: center;
      font-weight: bold;
      width: 2em;
      aspect-ratio: 1 / 1;
      clip-path: circle(50%);
      background-color: var(--background);
    }
  }

  h1 {
    flex-grow: 1;
  }
}

footer {
  display: grid;
  padding: 1rem;
  background-color: var(--primary);

  #main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 1em;
    gap: 0.7em;

    > div {
      display: grid;

      small {
        white-space: nowrap;
      }
      *:is(h1, h5) {
        margin-bottom: 0.7em;
      }
    }
  }

  #acknoledgement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em 3em;
    padding: 1em 0;

    #socials {
      display: flex;
      align-items: center;
      gap: 1em;

      a {
        text-decoration: none;
        font-size: 1.2em;
        color: var(--text);
        transition: 0.5s ease;

        svg {
          width: 1em;
          aspect-ratio: 1 / 1;
          fill: var(--text);
          transition: 0.5s ease;
        }
      }

      :is(a, svg):hover {
        color: var(--secondary);
        fill: var(--secondary);
      }
    }
  }
}

// Home Index View

.home {
  padding: 3em 0.5em;
  width: 100%;
  height: 100%;
  max-width: 60em;
  margin: auto;

  #main {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;

    #intro {
      width: 100%;
      max-width: 20em;
      flex-grow: 1;

      #ratings {
        ion-icon {
          color: var(--highlight);
        }
      }

      #welcome b {
        color: var(--highlight);
      }

      #links {
        margin: 1em 0;
        display: flex;
        align-items: center;
        gap: 1.2em;

        a {
          display: block;
          text-decoration: none;
          padding: 0.75em 0.5em;
          border-radius: 0.4em;
          min-width: 7em;
          text-align: center;
          color: var(--text);
        }

        a:first-child {
          background-color: var(--primary);
        }

        a:last-child {
          border: 1px solid var(--secondary);
        }
      }
    }

    #showcase {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-grow: 1;
      gap: 1.5em;

      > div {
        width: 100%;
        border-radius: 0.5em;
        display: grid;
        grid-template-rows: 1fr auto;
        max-width: 10em;
        min-height: 10em;
        aspect-ratio: 1 / 1.5;
        background-color: var(--secondary);
        transition: 0.5s ease;

        div {
          overflow: hidden;

          img {
            margin-left: -40%;
            height: 100%;
            object-position: 0 100%;
          }
        }

        small {
          padding: 0.4em;
          text-align: center;
          border-top: 1px solid var(--secondary);
          font-weight: 600;
          text-transform: uppercase;
          color: invert(#000, 100%);
        }
      }

      > div:hover {
        scale: 1.2;
        box-shadow: 0 1em 1em 0.1em var(--accent-one);
        background-color: var(--accent-one);
      }
    }
  }

  #offerings {
    display: flex;
    gap: 1em;
    margin-top: 1.2em;

    #car_placeholder {
      max-width: 30em;
      flex-grow: 1;
      display: grid;
      place-content: center;
      flex-shrink: 1;
      height: 15em;

      img {
        display: block;
        width: 100%;
        max-width: 20em;
        min-width: 0;
      }
    }

    > div:last-child {
      flex-grow: 10000;
    }

    .offer {
      display: flex;
      align-items: center;
      gap: 0.4em;
      margin: 0.5em 0;

      .icon {
        display: grid;
        place-items: center;
        flex-shrink: 0;
        width: 3em;
        aspect-ratio: 1 / 1;
        clip-path: circle(50%);
        background-color: var(--primary);

        img {
          padding: 0.6em;
        }
      }
    }
  }

  #why_choose {
    flex-grow: 1;

    #reasons {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
      gap: 1em;
      margin: 1.2em 0;

      .reason {
        padding: 1em 0.5em;
        border-radius: 0.5em;
        border: 1px solid var(--primary);

        div {
          display: flex;
          align-items: center;
          gap: 1em;
        }

        p {
          margin-top: 1em;
        }
      }
    }
  }

  #milestones {
    flex-grow: 1;
    display: flex;
    padding: 0 0.5em;
    margin: 1.2em 0;
    gap: 1em 2em;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .milestone {
      display: flex;
      align-items: center;
      gap: 0.75em;

      h4,
      p {
        font-size: 1.2em;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .main_navigation {
    padding-right: 1rem;

    .logo {
      h1 {
        display: none;
      }
    }
  }

  .home {
    #offerings {
      flex-wrap: wrap;
    }
  }
}
