<% content_for :dashboard_content do %>
  <div id="content">
    <div class="show_makers">
      <h1>Manufacturers</h1>
      <% if @manufacturers.empty? %>
        <div class='empty_collection'>
          <p>Manufacturers List is Empty</p>
          <p>Contact Support Team</p>
        </div>
      <% else %>
        <% @manufacturers.each do |manufacturer| %>
          <%= render "manufacturers/manufacturer", manufacturer: manufacturer %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<%= render template: 'layouts/dashboard' %>
